.Badge {
  @inherit: .max-w-full, .self-center, .m-4, .px-16, .py-0, .rounded-full,
    .text-center, .text-xs, .text-white, .leading-tight, .whitespace-no-wrap;
}

.Badge--loading {
  @inherit: .bg-lightGrey, .max-w-full, .self-center, .m-4, .px-16, .py-0,
    .rounded-full, .text-center, .text-xs, .text-white, .leading-tight,
    .whitespace-no-wrap;
}

.Badge--invalid {
  @inherit: .bg-darkGrey, .max-w-full, .self-center, .m-4, .px-16, .py-0,
    .rounded-full, .text-center, .text-xs, .text-white, .leading-tight,
    .whitespace-no-wrap;
}
