.StudyCard {
  @inherit: .h-full, .shadow-md, .border-transparent, .m-0, .p-16, .w-full,
    .flex, .flex-col;
}

.StudyCard--loading {
  height: 238px;
  @inherit: .shadow-md, .border-transparent, .m-0, .p-16, .w-full, .flex,
    .flex-col, .rounded-lg, .justify-center, .items-center;

  .Icon {
    @inherit: .text-mediumGrey;
  }
}
