.ToggleButtons {
  .Button {
    @inherit: .inline-flex, .items-center;
    border-radius: 5px;

    .Icon {
      @inherit: .pt-4;
      width: 14px;
      height: 14px;
    }
    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
