.SelectElement {
  border-radius: 5px;
  @extend .w-full,
    .shadow,
    .bg-white,
    .my-8,
    .p-8,
    .align-middle,
    .flex,
    .flex-row,
    .border,
    .border-white;
}

.SelectElement--Icon {
  @extend .rounded-full,
    .mr-16,
    .w-12,
    .h-12,
    .flex,
    .justify-center,
    .items-center,
    .bg-lightGrey;
}

.SelectElement--Icon-fill {
  background-color: #3b88fd;
}

.SelectElement-fill {
  border-color: #3b88fd;
}
