.SelectElement {
  border-radius: 5px;
  @inherit: .w-full, .shadow, .bg-white, .my-8, .p-8, .align-middle, .flex,
    .flex-row;
}

.SelectElement--Icon {
  @inherit: .rounded-full, .mr-16, .w-12, .h-12, .pt-12, .text-center;
}

.FileEditor {
  @inherit: .w-full, .bg-lightGrey, .p-20, .mb-32;
}

.FileEditor--Input {
  @inherit: .flex-auto, .p-4, .border-transparent, .rounded-sm, .my-12;
  width: auto;
}

.FileEditor--TextArea {
  @inherit: .w-full, .p-4, .border-transparent, .rounded-sm, .mt-8;
  height: 280px;
}

.FileEditor--Badge {
  @inherit: .my-12, .flex, .flex-row, .flex-wrap, .content-center;
}
