/* grid layout */

.grid-container {
  /* compose and compile our properties from tailwind styles */
  @inherit: .mx-auto;
  /* use our vars */
  max-width: var(--site-max-width);

  display: grid;
  align-items: center;
  /* use auto-fit wrap columns to rows when they cannot fit,
  *  12 columns max per row
  * */
  /* use minmax to set a min of 60px wide column and a max of 1fr(fraction) */
  grid-template-columns: repeat(12, minmax(60px, 1fr));
  grid-gap: 1rem;
  padding: 0 2.5em;

  /* collapse our gutters */
  &--collapsed {
    grid-gap: 0rem;
    padding: 0;
  }
}

@for $i from 1 to 12 {
  .col-$i {
    grid-column: span $(i);
  }
}
