.BackButton {
  @extend .row-1,
    .cell-12,
    .font-title,
    .font-normal,
    .text-xs,
    .text-grey,
    .font-light,
    .no-underline,
    .tracking-wide;
}

.FileTitle {
  @extend .my-8, .font-bold, .text-lg, .text-blue, .whitespace-normal;
}

.FileInfo--Title {
  @extend .font-bold, .text-sm, .m-0;
}

.FileInfo--Text {
  @extend .text-xs, .m-0, .h-6, .mt-4;
}

.FileInfo--Icon {
  @extend .mr-8,
    .rounded-full,
    .w-6,
    .h-6,
    .flex,
    .justify-center,
    .items-center,
    .bg-lightGrey,
    .p-4;
}

.FileInfo--container {
  @extend .cell-12, .p-12, .bg-lightGrey;
}

.FileInfo--Header {
  @extend .font-bold, .mx-12, .text-sm;
}

.FileInfo--Meta {
  @extend .m-0, .pl-4, .font-title, .font-light, .text-sm;
}

.FileProcess {
  border-color: #f1f5f8;
  @extend .list-reset, .py-12, .px-32, .border-l-8, .border-lightGrey;
}

.FileProcess:nth-child(even) {
  background: #f8fafc;
  border-color: #dae1e7;
}

.FileProcess--error {
  background-color: #fcebea;
  @extend .list-reset, .py-12, .px-32, .border-l-8, .border-red;
}

.FileDialog--Upload {
  width: 70%;
  height: 298px;
  @extend .mx-auto, .my-12, .pb-4;
  .upload-target {
    padding-top: 100px;
    @extend .h-full;
  }
}

.FileDialog--Edit {
  @extend .shadow;
}
.FileDialog--Edit form {
  @extend .mb-20, .px-0;
}

.NotificationBar {
  background-color: #00aceb24;
  @extend .border-lightBlue, .border-l-8, .flex, .justify-between, .p-12;
}
