/* NavBar and NavBarButton CSS */
.SecondaryNav--Button-active,
.SecondaryNav--Button:hover {
  border-bottom-width: 4px;
  /* #e53a95 refers to the pink color from uikit */
  border-bottom-color: #e53a95;
  @inherit: .text-pink;
}

.SecondaryNav--Button {
  @inherit: .font-title, .h-16, .cursor-pointer, .border, .border-lightGrey,
    .text-center, .text-purple, .font-semibold, .no-underline, .pt-4, .px-2;
}

.SecondaryNav {
  @inherit: .w-full, .h-16, .flex, .flex-row;
}

.SecondaryNav--Container {
  @inherit: .bg-white, .border, .border-mediumGrey, .border-t-0, .border-l-0,
    .border-r-0, .border-b-2;
}
