/* NavBar and NavBarButton CSS */
.SecondaryNav--Button-active {
  @inherit: .border-t-0, .border-l-0, .border-r-0, .border-b-4, .border-pink;
}

.SecondaryNav--Button {
  @inherit: .w-full, .h-full, .cursor-pointer, .border, .border-lightGrey,
    .text-center, .text-purple, .no-underline, .pt-4;
}

.SecondaryNav {
  @inherit: .bg-white, .w-full, .h-16, .shadow, .flex, .flex-row;
}
