/* NavBar and NavBarButton CSS */
.SecondaryNav--Button-active,
.SecondaryNav--Button:hover {
  /* #e53a95 refers to the pink color from uikit */
  border-bottom-color: #e53a95;
  @inherit: .text-pink, .border-b-4;
}

.SecondaryNav--Button {
  @inherit: .font-title, .h-full, .cursor-pointer, .border, .border-lightGrey,
    .text-purple, .font-semibold, .no-underline, .pt-16, .px-12;
}

.SecondaryNav {
  @inherit: .w-full, .h-16, .flex, .flex-row;
}

.SecondaryNav--Container {
  @inherit: .bg-white, .border-mediumGrey, .border-b-2;
}
