/* FileList and FileListElement CSS */
.FileList {
  @extend .list-reset,
    .min-w-full,
    .my-20,
    .p-0,
    .ml-0,
    .border-t,
    .border-grey;
}

.FileList--Element {
  @extend .list-reset, .w-full, .py-8, .border-b, .border-grey, .text-black;
  transition: all 0.25s ease-in;
}
.FileList--Element-title {
  transition: all 0.25s ease-in;
  color: black;
}

.FileList--Element:hover,
.FileList--Element:focus {
  @extend .bg-lightGrey, .shadow, .border-grey-lightest;
  .FileList--Element-desc {
    height: 25px;
  }
  .FileActions {
    opacity: 1;
  }
}

.FileList--Element:hover .FileList--Element-name,
.FileList--Element:focus .FileList--Element-name {
  color: #2b388f;
  transition: all 0.5s ease;
}

.FileList--Element-desc {
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden;
}

.FileList--Empty {
  @extend .text-grey, .border-b, .border-grey, .m-0, .py-16, .px-32;
}

.FileList--ElementBadge {
  @extend .row-2, .cell-12, .flex-initial, .flex, .flex-row, .flex-wrap;
}

.FileList--ElementButton {
  @extend .inline-block, .mr-8, .p-0;
}

.FileStatus {
  @extend .mr-16, .font-normal, .text-xs;
}

.FileStatus--loading {
  @extend .mr-16, .px-16, .bg-lightGrey, .text-lightGrey;
}

.Pagination {
  @extend .min-w-full, .flex, .list-reset, .justify-center;
}

.Pagination li {
  @extend .border, .border-lightGrey, .text-lightBlue;
}

.Pagination li a {
  @extend .block, .py-8, .px-16;
}

.Pagination--active {
  @extend .bg-lightBlue;
}

.Pagination--active a {
  @extend .text-white;
}
