/* FileList and FileListElement CSS */
.FileList {
  @inherit: .list-reset, .min-w-full, .m-0, .border-t, .border-grey;
}

.FileList--Element {
  @inherit: .list-reset, .w-full, .py-8, .border-b, .border-grey;
  .grid-container {
    margin: 0;
    padding: 0;
  }
}

.FileList--Empty {
  @inherit: .text-grey, .border-b, .border-grey, .m-0, .py-16, .px-32;
}

.FileList--ElementBadge {
  @inherit: .row-2, .cell-12, .flex-initial, .flex, .flex-row, .flex-wrap;
}

.FileList--ElementButton {
  @inherit: .inline-block, .mr-8, .p-0;
}

.FileStatus {
  @inherit: .mr-16, .font-normal, .text-xs;
}

.FileStatus--loading {
  @inherit: .mr-16, .px-16, .bg-lightGrey, .text-lightGrey;
}
