:root {
  /* define global css vars here  */
  --site-max-width: 1024px;
}

* {
  box-sizing: border-box;
}

body {
}

/* Utilities CSS classes supporting Semantic UI */
.version--item {
  td {
    p {
      font-size: 14px;
      margin: 0px;
    }
  }
}

.noMargin {
  margin: 0px !important;
}

.noPadding {
  padding: 0px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}
.noVerticalPadding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.noHorizontalPadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.noBorders {
  border: none !important;
  box-shadow: none !important;
}

.readOnlyField {
  margin-bottom: 0px !important;
  input {
    border-width: 0px 0px 1px 0px !important;
    margin-bottom: 0px !important;
  }
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.px-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.mt-6 {
  margin-top: 6px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.ui.stackable.cards > .card {
  display: flex !important;
}

.smallLabel {
  padding-left: 10px;
  padding-right: 5px;
  color: rgba(0, 0, 0, 0.7);
}

.height-50 {
  height: 50px;
}

.list--header-inline {
  padding-right: 20px !important;
  display: inline-block !important;
}

.ui.form .required.field > label::after {
  font-size: 0.8em;
  content: '* (required)';
}

.micro-button {
  font-size: 10px !important;
  margin-left: 2px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.text-left {
  text-align: left;
}

.text-red {
  color: #db2828 !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

.selectionRadio--card {
  display: flex !important;
  align-items: center;
  cursor: pointer;
  i {
    margin-right: 10px;
  }
}

.study--header-sub {
  display: inline-block;
  margin-top: 0px;
  margin-right: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Needed so that size does not change when showing success icon */
.CopyButton--popup {
  width: 4rem;
  text-align: center;
}

.View--Login {
  height: 100vh;
  background-image: linear-gradient(to bottom, #fff 400px, transparent 100%),
    url(./assets/background-science.jpg);
}

.max-h-500 {
  max-height: 500px;
  overflow: hidden;
}

.x-scroll {
  overflow-x: scroll;
}

.text-wrap-75 {
  max-width: 32em;
}

.progress-bar--custom {
  margin-top: 5px !important;
  div {
    text-align: left !important;
    font-weight: normal !important;
    color: grey !important;
  }
}

.footer {
  background: white !important;
  padding: 9px 0px !important;
  position: fixed !important;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  border-radius: 0px !important;
  box-shadow: none !important;
  border-width: 1px 0px 0px 0px !important;
}

.text-10 {
  font-size: 10px !important;
}

.page {
  margin-bottom: 40px !important;
}

.text-grey {
  color: #919090;
}
