:root {
  /* define global css vars here  */
  --site-max-width: 1024px;
}

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

/* Header */

.Header--wrapper {
  /*use @inherit to compose css properties from tailwind util classes  */
  @inherit: .container, .block, .border-b-2, .border-solid, .border-grey;
  /* if we order the classes correctly we can use nesting and inheritance  */
  .Header {
    max-width: var(--site-max-width);
    padding: 0 1.5em;
  }
}

.Header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -2px;
}

.study-card {
  height: 200px;
}
