:root {
  /* define global css vars here  */
  --site-max-width: 1024px;
}

* {
  box-sizing: border-box;
}

body {
}

.BodyContent {
  max-width: var(--site-max-width);
  margin: auto;
}

.View--Login {
  background-image: linear-gradient(to bottom, #fff 400px, transparent 100%),
    url(https://portal.kidsfirstdrc.org/static/media/background-science.68317e4e.jpg);
}

.Card--Login {
  @extend .Card;
  width: 620px;
}

.BodyContent {
  max-width: var(--site-max-width);
  margin: auto;
}

.Header {
  @extend .border-b-2;
}

.Header--navigation {
  @extend .grid-container, .mx-auto, .border-none, .p-12;
}

.Form--Header {
  background-color: #d3d2d3;
  @extend .py-12;
}

.Form {
  @extend .w-full, .bg-lightGrey, .p-20;

  label {
    @extend .h-full, .pt-8;
  }
  .required:after {
    color: red;
    content: ' *';
  }

  .Form--Actions {
    @extend .flex, .justify-end, .mt-16;
    .Button {
      @extend .mx-4;
    }
  }
  .Form--Input {
    border-radius: 5px;
    @extend .w-full, .bg-white, .h-8, .px-16;
  }

  .Form--TextArea {
    border-radius: 5px;
    min-height: 200px;
    @extend .w-full, .border-transparent, .mt-8, .p-8;
  }
}
